body{
    background-color:brown;
}
header{
    width: 100%;
   background-color: darkgoldenrod;
   height: 100px;
    text-align: center;
    
}
    .main{
        color: black;
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

.column1{
    width: 400px;
    height: 500px;
    background-color: aqua;
    float: left;
}
.column2{
    width: 400px;
    height: 500px;
    background-color: pink;
    float: left;
}

.footer{
    clear: both;
    background-color: darkgoldenrod;
    height: 100px;
    width: 100%;

}